//------Colors-------
$mainBackground: #E9EAED;
$buttonBackground: #43609C;
$buttonColor: #fff;
$timeScoreBackground: #9EC5D3;
$timeScoreColor: #7F553F;
$questionAnswerBackground: #E5F0FF;
$questionAnswerColor: #000;
$elementBackground: lightgrey;

//------Sizes-------
$mainWidth: 600px;
$mainHeight: 400px;
$windowsFrameWidth: 425px;
$windowsFrameFontSize: 43px;
$windowsFrameHeight: 150px;
$componentFontSize: 22px;
$componentWidth: 140px;
$componentHeight: 50px;