@import "variables";
@import "borderAndShadow";
@import "borderRadius";

.windowsForm {
  @extend .borderAndShadow;
  font-size: $windowsFrameFontSize;
  font-weight: bold;
  font-family: cursive, sans-serif;
  background: #E5F0FF;
}

.componentForm {
  @extend .borderAndShadow;
  font-size: $componentFontSize;
  text-align: center;
  font-weight: bold;
}

.buttonForm {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  width: $componentWidth;
  background: #43609C;
  color: azure;
  cursor: pointer;
  &:hover {
    background: $buttonBackground * 1.3;
  }
  &:active {
    background: $buttonBackground * 0.7;
  }
}

#app {
  width: $mainWidth;
  height: $mainHeight;
  background-color: $mainBackground;
  @include border-radius(15px);
  @extend .borderAndShadow;
  margin: 100px auto;
  padding: 40px;
}

.central {
  clear: both;
  @extend .windowsForm;
  height: 202px;
  text-align: center;
  padding: 60px;
  margin-bottom: 50px;
}

.question {
  width: $windowsFrameWidth;
  height: $windowsFrameHeight;
  line-height: 57px;
  @include border-radius(15px);
  @extend .windowsForm;
  margin-bottom: 30px;
  text-align: center;
  float:left;
}

.answer {
  @include border-radius(15px);
  @extend .question;
  clear: both;
  margin-top: 40px;
  margin-bottom: 50px;
  height: $windowsFrameHeight - 50;
  text-align: inherit;
}

.timeAndScore {
  width: $componentWidth;
  height: $windowsFrameHeight;
  margin-left: 30px;
  float: left;
}

.time, .score {
  width: $componentWidth;
  height: $componentHeight + 20;
  @include border-radius(10px);
  line-height: $componentHeight + 20;
  @extend .componentForm;
  background: $timeScoreBackground;
  color: $timeScoreColor;
  margin: 0px 7px 12px 0px;
}

.check {
  @extend .buttonForm;
  @include border-radius(10px);
  @extend .borderAndShadow;
  margin: 40px 0px 50px 30px;
  height: $windowsFrameHeight - 50;
  line-height: $windowsFrameHeight - 50;
  float: left;
}

.start {
  @extend .buttonForm;
  @include border-radius(10px);
  @extend .borderAndShadow;
  height: $componentHeight;
  line-height: $componentHeight;
  margin-left: 220px;
  float: left;
  clear: left;

}

.next {
  @extend .start;
  float: right;
  clear: right;
  margin-left: 0px;
}
.elements {
  margin: 20px 0px 0px 36px;
  display: inline-block;
  text-align: center;
  background: $elementBackground;
  &:active, {
    background: $elementBackground * 0.9;
    color: white;
  }
  width: 57px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $buttonBackground;

}

.selected-true {
  background: $selectedNumBackground;
  color: $selectedNumColor;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.notDisplayed {
  display: none;
}

.displayed {
  display: block;
}

.centerTheContent {
  @extend .elements;
  margin: 45px 0px;
}

.right {
  @extend .check;
  background: $rightAnswerBackground;
  &:hover {
    background: $rightAnswerBackground;
  }
}

.fail {
  @extend .check;
  background: $failAnswerBackground;
  &:hover {
    background: $failAnswerBackground;
  }

}
